<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7161c7">  <td>19/03/03 17:33:39</td>   <td>0</td> <td title="&gt;&gt;SeleniumBase.beforeSuite()[pri:0, instance:testcase.TC1SearchVendor@c03f1f]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18524506</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/03/03 17:33:40</td>   <td>803</td> <td>&nbsp;</td><td title="&gt;&gt;TC1SearchVendor.setData()[pri:0, instance:testcase.TC1SearchVendor@c03f1f]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18524506</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>19/03/03 17:33:40</td>   <td>816</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumBase.beforeClass()[pri:0, instance:testcase.TC1SearchVendor@c03f1f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18524506</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>19/03/03 17:33:40</td>   <td>833</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SeleniumBase.beforeMethod()[pri:0, instance:testcase.TC1SearchVendor@c03f1f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@18524506</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>19/03/03 17:33:50</td>   <td>10602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC1SearchVendor.searchVendor()[pri:0, instance:testcase.TC1SearchVendor@c03f1f]">searchVendor</td> 
  <td>main@18524506</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>19/03/03 17:33:59</td>   <td>19301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SeleniumBase.closeApp()[pri:0, instance:testcase.TC1SearchVendor@c03f1f]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@18524506</td>   <td></td> </tr>
<tr bgcolor="7161c7">  <td>19/03/03 17:33:59</td>   <td>19881</td> <td title="&lt;&lt;SeleniumBase.afterSuite()[pri:0, instance:testcase.TC1SearchVendor@c03f1f]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@18524506</td>   <td></td> </tr>
</table>
